<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
<connectionStrings>
		<!--设计器用的数据库连接-->
  <!--<add name="Default" connectionString="Server=.;Database=Designer;Uid=sa;Pwd=65ECC073C429AA29A8F13AEA88A928EC" providerName="System.Data.SqlClient"/>-->
  <!--<add name="Default" connectionString="Server=.;Database=JAEquipment;Uid=sa;Pwd=65ECC073C429AA29A8F13AEA88A928EC" providerName="System.Data.SqlClient"/>-->
  <add name="Default" connectionString="Server=.;Database=LHSale;Uid=sa;Pwd=65ECC073C429AA29A8F13AEA88A928EC" providerName="System.Data.SqlClient"/>
  <!--<add name="Default" connectionString="Server=hizxp.eicp.net,14330;Database=MotorMaintenance;Uid=sa;Pwd=367CF8317EF73B07075B6D0C89768AB0" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
</configuration>
